{{ define "main" }}
  <script>
    function redirectPage() {
      const pageRedirects = {
        "/fully-managed-open-source-services/applications/others/akaunting/":
          "/fully-managed-open-source-services/applications/invoicing-and-payments/akaunting/",

        "/fully-managed-open-source-services/applications/others/anythingllm.md/":
          "/fully-managed-open-source-services/applications/ai-gpu/anythingllm/",

        "/fully-managed-open-source-services/applications/others/comfyui/":
          "/fully-managed-open-source-services/applications/ai-gpu/comfyui/",

        "/fully-managed-open-source-services/applications/others/dashy/":
          "/fully-managed-open-source-services/development/dev-tools/dashy/",

        "/fully-managed-open-source-services/applications/others/docassemble/":
          "/fully-managed-open-source-services/applications/automation/docassemble/",

        "/fully-managed-open-source-services/applications/others/freshrss/":
          "/fully-managed-open-source-services/applications/search/freshrss/",

        "/fully-managed-open-source-services/applications/others/grist/":
          "/fully-managed-open-source-services/development/nocode-lowcode/grist",

        "/fully-managed-open-source-services/applications/others/hi-events/":
          "/fully-managed-open-source-services/applications/e-commerce/hi-events",

        "/fully-managed-open-source-services/applications/others/indico/":
          "/fully-managed-open-source-services/applications/project-management/indico/",

        "/fully-managed-open-source-services/applications/others/iomad/":
          "/fully-managed-open-source-services/applications/hcm/iomad/",

        "/fully-managed-open-source-services/applications/others/iris/":
          "/fully-managed-open-source-services/applications/customer-support/iris/",

        "/fully-managed-open-source-services/applications/others/kener/":
          "/fully-managed-open-source-services/hosting-and-infrastructure/monitoring/kener/",

        "/fully-managed-open-source-services/applications/others/kimai/":
          "/fully-managed-open-source-services/applications/invoicing-and-payments/kimai/",

        "/fully-managed-open-source-services/applications/others/langfuse/":
          "/fully-managed-open-source-services/applications/ai-gpu/langfuse/",

        "/fully-managed-open-source-services/applications/others/languagetool/":
          "/fully-managed-open-source-services/applications/note-taking/languagetool/",

        "/fully-managed-open-source-services/applications/others/librechat/":
          "/fully-managed-open-source-services/applications/live-chat/librechat/",

        "/fully-managed-open-source-services/applications/others/linkwarden/":
          "/fully-managed-open-source-services/applications/note-taking/linkwarden/",

        "/fully-managed-open-source-services/applications/others/maybe/":
          "/fully-managed-open-source-services/applications/business-intelligence/maybe/",

        "/fully-managed-open-source-services/applications/others/metatrader5/":
          "/fully-managed-open-source-services/applications/business-intelligence/metatrader5/",

        "/fully-managed-open-source-services/applications/others/moodle/":
          "/fully-managed-open-source-services/applications/hcm/moodle/",

        "/fully-managed-open-source-services/applications/others/neko/":
          "/fully-managed-open-source-services/applications/live-chat/neko/",

        "/fully-managed-open-source-services/applications/others/ojs/":
          "/fully-managed-open-source-services/applications/cms/ojs/",

        "/fully-managed-open-source-services/applications/others/onlyoffice/":
          "/fully-managed-open-source-services/applications/documentation/onlyoffice/",

        "/fully-managed-open-source-services/applications/others/openslides/":
          "/fully-managed-open-source-services/applications/project-management/openslides/",

        "/fully-managed-open-source-services/applications/others/parseable/":
          "/fully-managed-open-source-services/hosting-and-infrastructure/monitoring/parseable/",

        "/fully-managed-open-source-services/applications/others/penpot/":
          "/fully-managed-open-source-services/applications/project-management/penpot/",

        "/fully-managed-open-source-services/applications/others/peppermint/":
          "/fully-managed-open-source-services/applications/customer-support/peppermint/",

        "/fully-managed-open-source-services/applications/others/postiz/":
          "/fully-managed-open-source-services/applications/social-media/postiz/",

        "/fully-managed-open-source-services/applications/others/ragflow/":
          "/fully-managed-open-source-services/applications/ai-gpu/ragflow/",

        "/fully-managed-open-source-services/applications/others/saleor/":
          "/fully-managed-open-source-services/applications/e-commerce/saleor/",

        "/fully-managed-open-source-services/applications/others/saltcorn/":
          "/fully-managed-open-source-services/development/nocode-lowcode/saltcorn/",

        "/fully-managed-open-source-services/applications/others/shlink/":
          "/fully-managed-open-source-services/applications/analytics/shlink/",

        "/fully-managed-open-source-services/applications/others/snipe-it/":
          "/fully-managed-open-source-services/applications/crm-erp/snipe-it/",
      };

      const rawPath = window.location.pathname;
      const path = rawPath.endsWith("/") ? rawPath : rawPath + "/";

      if (pageRedirects[path]) {
        document.getElementById("404-content").style.display = "none";
        document.getElementById("redirect-content").style.display = "block";
        const newUrl = pageRedirects[path];
        document.getElementById("redirect-link").href = newUrl;
        window.location.replace(newUrl);
      }
    }

    window.onload = function () {
      redirectPage();
    };
  </script>
  <div class="isolate">
    <main class="mx-auto w-full max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-xl py-16 sm:py-24">
        <div id="404-content" class="text-center">
          <p class="text-base font-semibold text-indigo-600">404</p>
          <h1
            class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
            This page does not exist.
          </h1>
          <p class="mt-2 text-lg text-gray-500">
            The page you are looking for could not be found.
          </p>
        </div>
        <div id="redirect-content" style="display: none;" class="text-center">
          <h1
            class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
            Redirecting...
          </h1>
          <p class="mt-2 text-lg text-gray-500">
            If you're not redirected automatically,
            <a
              id="redirect-link"
              class="text-base font-semibold text-indigo-600"
              href="#">
              click here
            </a>
          </p>
        </div>
      </div>
    </main>
  </div>
{{ end }}
